<h1>gearbox</h1>

<input type="text" id="input" placeholder="what are you looking for?">

<table id="table" class="table table-bordered table-striped">
	<thead><th>gear</th><th>box</th></thead>

  	<tr>
	<% @csv_table.headers.each do |header| %>
	<th><%= header %></th>
	<% end %> 
	</tr>
	<% @csv_table.each do |row| %>
	<tr>
	<% row.each do |element| %>
	<td><%= element[1] %></td>
	<% end %>
	</tr>
	<% end %> 
</table>


<script>
$('#input').keyup(function () {
  table_search($('#input').val(),$('#table tbody tr'),'012');
});
$('#reset').click(function () {
  $('#input').val();
});
</script>