<%= render "shared/header" %>

<input type="text" id="input" placeholder="what are you looking for?">

<p class="notice">
	<%= notice %>
</p>

<table id="table" class="table table-bordered table-striped">
		<thead><th>gear</th><th>box</th></thead>
		<tbody>			
			<% @gear.each do |gear| %>
				<tr>
					<td><%= link_to gear.name, gear_path(gear) %>						
						</td>
					<td><%= gear.box_name %></td>
				</tr>
			<% end %>
		</tbody>
	</tr>
</table>